body {
    background: #6835e0;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: gold; 
    background-color: darkviolet;
    text-align: center;
}
.about {
    text-align: right;
    width: 100%;
    color: yellowgreen;
}

.projects {
    display:flex; 
    flex-wrap:wrap; 
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: darkviolet;
    border-radius: 25%;
}

.project img{
    width: 300px;
    margin: 10px;
    border: 2px solid purple; /* choose a color */
    display: block;
    margin: auto;
    }

a { /* change the appearance of ALL links */
    text-decoration: none;
    text-align: center;
    color: yellow;
    }
.project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
        margin: 15px;
    }
.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
.about img {
    width: 200px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
    }
.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
.contact p {
    text-align: center;
    color: greenyellow;
    }
.skills p {
    color: greenyellow;
    }