body {
    background: #9400c1;
    color: #ffdd96;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #ffdd96; 
    background-color: 9400c1;
    text-align: center;
}
.about {
    text-align: right;
    width: 100%;
    color: #ffffff;
}

.projects {
    display:flex; 
    flex-wrap:wrap; 
}
.project {
    width: 20%;
    margin: 20px;
    padding: 20px 10px;
    background: #9b0259;
    border-radius: 25%;
    align-items: center;
}

.project img{
    width: 300px;
    margin: 10px;
    display: block;
    margin: auto;
    }

a { /* change the appearance of ALL links */
    text-decoration: none;
    text-align: center;
    color: rgb(131, 209, 15);
    }
.project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
        margin: 15px;
    }
.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
.about img {
    width: 200px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid #9400c1;
    }
.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
body {
    text-align: center;
    }
.contact p {
    text-align: center;
    color: #ffdd96;
    }
.skills p {
    color: #ffdd96;
    }

body {
    background-image: url(images/background.jpg);
    background-size: 30%;
    }